@page "/output-data"

@inject NavigationManager NavigationManager
@inject IGetClientById GetClientByIdUseCase
@inject IMakeBooleanToYesNo MakeBooleanToYesNoUseCase
@inject IEditOutputData EditOutputDataUseCase

@inject IViewAllOutputData ViewAllOutputDataUseCase

<h3>All exported items</h3>
<hr />
<br />

@if (data != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Book name</th>
                <th>Client</th>
                <th>Number of books</th>
                <th>Deadline</th>
                <th>Is done</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in data)
            {
                <tr @onclick="@(() => OnSelectOutputData(item))" style="cursor:pointer">
                    <td>@item.BookName</td>
                    <td>@GetClientByIdUseCase.Execute(item.ClientId)?.Name</td>
                    <td>@item.BookCount</td>
                    <td>@item.Deadline</td>
                    <td>@MakeBooleanToYesNoUseCase.getAnswer(item.IsDone)</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (selectedData != null)
{
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">

                <br />

                <div class="contaouter px-4">
                    <div class="row gx-5">
                        <div class="col-3">
                            <div class="p-3 border bg-light">Book name</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">@selectedData.BookName</div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-3">
                            <div class="p-3 border bg-light">Client name</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">@GetClientByIdUseCase.Execute(@selectedData.ClientId)?.Name</div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-3">
                            <div class="p-3 border bg-light">Contact</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">@selectedData.Contact</div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-3">
                            <div class="p-3 border bg-light">Location</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">@selectedData.Location</div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-3">
                            <div class="p-3 border bg-light">Book count</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">@selectedData.BookCount</div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-3">
                            <div class="p-3 border bg-light">Books in one package</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">@selectedData.PackageCount</div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-3">
                            <div class="p-3 border bg-light">Deadline</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">@selectedData.Deadline</div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-3">
                            <div class="p-3 border bg-light">Need for certify delivery note</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">@MakeBooleanToYesNoUseCase.getAnswer(selectedData.CertifyDeliveryNote)</div> <!--ovdje se moze napisat u ZI u da sam na ova nacout prikazivala brojeve sa dvije decimale-->
                        </div>
                    </div>
                </div>
                <br />
                <hr />
            </div>
            <div class="col-3">

                <br />
                <hr />
                <div>
                    <button type="button" @onclick="() => OnClickEdit(selectedData.Id)" class="btn btn-dark">Edit</button>
                </div>

                <br />
                <div>
                    <button type="button" @onclick="OnClickClose" class="btn btn-dark align-content-center">Ok</button>
                </div>
                <br />
                <div>
                    <button type="button" @onclick="() => OnClickDelete(selectedData.Id)" class="btn btn-dark align-content-center">Delete</button>
                </div>
                <hr />


            </div>
        </div>
    </div>
}
else
{

    <br />

    <button type="button" @onclick="OnClickAddOutputData" class="btn btn-dark">Add Job for export</button>
}

<br />
<br />
@code {
    IEnumerable<OutputData>? data;

    private OutputData? selectedData;
    private int selectedDataId = -1;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadData();
    }

    private void LoadData()
    {
        this.data = ViewAllOutputDataUseCase.Execute();
    }

    private void OnClickAddOutputData()
    {
        NavigationManager.NavigateTo("/add-output-data");
    }

    private void OnClickEdit(int id)
    {
        NavigationManager.NavigateTo($"/edit-output-data/{id}");
    }

    private void OnClickDelete(int id)
    {
        NavigationManager.NavigateTo($"/delete-output-data/{id}");
    }

    private void OnSelectOutputData(OutputData data)
    {
        this.selectedData = data;
        this.selectedDataId = data.Id;
    }

    private void OnClickClose()
    {
        this.selectedData = null;
        this.selectedDataId = -1;
    }
}
